@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 'raleway' , sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
html {
    font-size: 110%;
}
}

@media only screen and (min-width: 90em) {
    
html {
    font-size: 120%;
}

}

@media only screen and (min-width: 120em) {
    
html {
    font-size: 130%;
}

}

a {
    text-decoration: none;
    color: blue;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.icon {
    max-width: 65px;
    display: inline-block;
    margin-right: 1em;
    margin-top: 1em;
}

.icon-wrap {
    text-align: right;
}

.pushl {
    margin-right: 10%;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: blue;

  color: #fff;
}

sub {
    vertical-align: super;
    font-size: smaller;
}

.card-content {
    color: black;
    text-decoration: none;
    list-style: none;
    padding: 1em 3em;
}

.card-content li {
    border-bottom: thin dotted black;
    text-align: center;
}

.card-text {
    text-align: center;
}

.align {
    text-align: center;
}

h1 {
    color: darkblue;
}

a:focus {
    outline: 3px solid blue;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.25em
}

.skip-links a:focus {
    top: 0;
}

.section-dark {
  background-color: darkblue;
}

img {
  display: block;
  width: 100%;
}



.billboardtype-b {
    color: white;   
}

.billboardtype {
    text-align: center;   
}

button {
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 1px solid #000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.push-out {
    margin: 1em
}

.button:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
}

.button-1 {
	border: 3px solid ;
	color: ;
}

.button-1a:hover,
.button-1a:active {
	color: ;
	background: ;
    border: 3px solid ; 
}

.button-1b:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: ;
}

.billboard{
    background-image: url(../images/typography_guitar.jpg);
    background-size: cover;
    background-position: center center;
}

.over {
    overflow: hidden;
}

.nav{
    display: none;
}

.static{
    position: fixed;
}

.copyright {
    color: #E0E0E1;
}

.mid {
    margin: auto 0;
}
.bigb {
    border-radius: .5em;
}

.pricing {
    max-width: 13em;
    margin: 1em;
}

.width {
    width: 100%;
    margin: 0 auto;
}

.centered {
    text-align: center;
    align-content: center;
    padding: 0;
}
@media only screen and (min-width:25em) {
    
    .nav li {
        display: inline-block;
        padding: 0;
    }
    .nav {
        text-align: center;
    }
    .navfooter {
        text-align: center;
    }
    
    .copyright {
        text-align: center;
    }
}   

@media only screen and (min-width:48em){
    
    .nav {
        display: block;
        text-align: left;
    }
    
    .navfooter {
        float: right;
    }
    .copyright {
        text-align: left;
    }
    
    .float {
        -webkit-align-items: flex-end;
        -ms-align-items: flex-end;
    }
     .billboard{
        padding: 10em 5em 0 5em;
    }
    
    .pushl {
    margin-right: 15%;
}
}

@media only screen and (min-width: 60em) {
    
    
}

@media only screen and (min-width: 90em) {
    
    .pushl {
    margin-right: 3%;
}
    
}